[submodule "clubwinkh"]
	path = clubwinkh
	url = git@github.com:Steake/clubwinkh.git
[submodule "clubwinkh-admin"]
	path = clubwinkh-admin
	url = git@github.com:Steake/clubwinkh-admin.git
[submodule "clubwinkh-tg-miniapp"]
	path = clubwinkh-tg-miniapp
	url = git@github.com:Steake/clubwinkh-tg-miniapp.git
[submodule "clubwinkh-api"]
	path = clubwinkh-api
	url = git@github.com:Steake/clubwinkh-api.git
